<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marc-André Leclerc - Bio</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class="aboutBody">
    <header>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a class="active" href="./about.html">About</a></li>
            <li><a href="./climbs.html">Climbs</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
        </ul>
    </header>
    <main class="aboutMain">
        <h1>Marc-André Leclerc, alpinist</h1>
        <section>
            <p>
                Marc-André Leclerc's passion for climbing began at a young age, with a book and a shopping mall climbing
                wall. He soon progressed to self-taught outdoor climbing in the Canadian Cascade Range. Doggedly
                independent, he embarked on solo overnight climbing and camping adventures before joining the BC
                Mountaineering Club and quickly moving on to win both age-group and national competitions.
            </p>
            <p>
                Sailing past the standards set by previous climbers, Leclerc notoriously soloed on devastatingly
                challenging peaks in Patagonia, which is beautifully documented in the 2021 film <a
                    href="https://www.imdb.com/title/tt11790780/" rel="noopener noreferrer" target="_blank">The
                    Alpinist</a>.
            </p>
            <p>
                Leclerc <a href="http://marcleclerc.blogspot.com/" rel="noopener noreferrer" target="_blank">blogged</a>
                about his experiences, reminiscing often on
                the psychological and physical challenges of free solo climbing and sharing photos
                of daring moments and difficult terrain. From his writing we know that he took an open spiritual view of
                the mountains.</p>
            <p>
                In July 2018, Leclerc and his sometimes-climbing partner Ryan Johnson lost their lives descending from a
                climb of the Mendenhall Towers. Once again the climb broke boundaries, as the two followed a new route
                up the North Face. Their bodies were traced to their decent ropes and are buried beneath an avalanche
                there to this day.
            </p>
        </section>
    </main>
    <footer class="aboutFooter">
        <div class="footerContainer">
            <p class="footerText">Sourced from <a href="https://en.wikipedia.org/wiki/Marc-Andr%C3%A9_Leclerc"
                    rel="noopener noreferrer" target="_blank">Wikipedia</a>, 23 December 2022. Original text by ECS.</p>
        </div>
    </footer>
</body>

</html>