<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marc-André Leclerc - Climbs</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class="climbsBody">
    <header>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a class="active" href="./climbs.html">Climbs</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
        </ul>
    </header>
    <main class="climbsMain">
        <h1>notable climbs, in his own words</h1>
        <section class="climbsMainSection">
            <section class="imgPContainer" onmouseenter="hoverHandler(climb1img, climb1words, climb1button)"
                onmouseleave="hoverHandler2(climb1img, climb1words, climb1button)">
                <img class="img" id="climb1img" src="../public/img/summit.jpeg" alt="summit">
                <p class="words" id="climb1words">'Through time spent in the mountains ... I've been slowly able to pick
                    apart
                    what
                    is important to me and discard things that are not.'</p>
                <a href="http://marcleclerc.blogspot.com/2016/04/a-visit-with-emperor-mt-robson-infinite.html"
                    rel="noopener noreferrer" target="_blank">
                    <button id="climb1button">Read Post</button>
                </a>
            </section>
            <section class="imgPContainer" onmouseenter="hoverHandler(climb2img, climb2words, climb2button)"
                onmouseleave="hoverHandler2(climb2img, climb2words, climb2button)">
                <img class="img" id="climb2img" src="../public/img/post2.jpeg" alt="free solo">
                <p class="words" id="climb2words">'Perfect streaked limestone, twin tufas, and an overhung prow set
                    above the scenic Verdon Gorge; Séance Tenante is a true masterpiece of the 80's.'</p>
                <a href="http://marcleclerc.blogspot.com/2015/12/2015-highlights.html" rel="noopener noreferrer"
                    target="_blank">
                    <button id="climb2button">Read Post</button>
                </a>
            </section>
            <section class="imgPContainer" onmouseenter="hoverHandler(climb3img, climb3words, climb3button)"
                onmouseleave="hoverHandler2(climb3img, climb3words, climb3button)">
                <img class="img" id="climb3img" src="../public/img/post3.jpeg" alt="ice climbing">
                <p class="words" id="climb3words">'Crossing glaciers without a rope, rightly known to be a harzardous
                    activity, is the one aspect of alpine soloing that I fear the most and enjoy the least.'</p>
                <a href="http://marcleclerc.blogspot.com/2015/10/back-in-patagonia-amazing-six-day.html"
                    rel="noopener noreferrer" target="_blank">
                    <button id="climb3button">Read Post</button>
                </a>
            </section>
        </section>
    </main>
    <script src="../js/index.js"></script>
</body>

</html>