<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marc-André Leclerc - Gallery</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About</a></li>
        <li><a href="./climbs.html">Climbs</a></li>
        <li><a class="active" href="./gallery.html">Gallery</a></li>
    </ul>
    <h1>Gallery</h1>
    <section class="galleryImages">

    </section>
</body>

</html>