<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marc-André Leclerc - Gallery</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class="galleryBody">
    <header>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./climbs.html">Climbs</a></li>
            <li><a class="active" href="./gallery.html">Gallery</a></li>
        </ul>
    </header>
    <main class="galleryMain">
        <h1>Marc-André Leclerc, alpinist</h1>
        <a href="https://www.instagram.com/p/Bf9BJApDxWE/" rel="noopener noreferrer" target="_blank"><img
                src="../public/img/leclercpost.png" alt="last instagram post"></a>
        <p>Leclerc's last <a href="https://www.instagram.com/mdre92/" rel="noopener noreferrer"
                target="_blank">Instagram</a> post, 5 March 2018</p>
    </main>
</body>

</html>