<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marc-André Leclerc</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class="indexBody">
    <header>
        <ul>
            <li><a class="active" href="./index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./climbs.html">Climbs</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
        </ul>
    </header>
    <main class="homeMain">
        <section class="homeText">
            <h1>Marc-André Leclerc</h1>
            <p>10 October 1992 - 5 March 2018</p>
        </section>
    </main>
    <footer class="indexFooter">
        <div class="footerContainer">
            <p class="footerText">© ECS 2022</p>
        </div>
    </footer>
</body>

</html>